/* Apartado de Pasos */
.letraPequeñaPasos{
    padding-top: 150px;
    font-size: 15px;
    text-align: center;
    text-align: center;
    color:royalblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.tituloPasos{
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color:rgb(14, 21, 44);
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -4px;
    font-weight: 600;
}
.contenedorImagenesPasos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 150px;
}
.paso{
   width: 250px;
   padding-bottom: 20px;
   text-align: center; 
   /* box-shadow: 0 5px 5px rgba(0, 0, 0, .3); */
   background:white;
   margin: 20px 20px;
   border-radius: 0 0 20% 20%;
}
#paso1{
    border-radius: 100% 0 40% 0;
}
#paso2{
    border-radius: 30% 0 0 0;
}
#paso3{
    border-radius: 40%;
}
#paso4{
    border-radius: 30% 0 0 0;
}
#imagenPaso{
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 0 0 40% 40%;
}
#paso1:hover{
    background-color: rgb(255, 206, 161);
}
#paso2:hover{
    background-color: rgb(255, 254, 197);
}
#paso3:hover{
    background-color: rgb(214, 255, 255);
}
#paso4:hover{
    background-color: rgb(255, 238, 213);
}
.tituloPaso{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
}
.parrafoPaso{
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-size: 16px;
    color: black;
    text-align:center;
    line-height : 25px;
}
/* Nosotros */
.doctor{
    display: inline-block;
}
.nosotros{
    background-color: rgb(39, 212, 243);
    /* background: rgb(21,121,120);
    background: linear-gradient(90deg, rgba(21,121,120,0.927608543417367) 16%, rgba(26,146,156,1) 50%, rgba(0,255,231,0.6166841736694677) 92%); */
    /* background-color:cadetblue; */
    
}
.tituloNosotros{
    padding-top: 70px;
    padding-bottom: 30px;
    font-size: 60px;
    text-align: center;
    letter-spacing: 2px;
    color:white;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
#parrafoNosotros{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 25px;
    color: white;
    text-align: justify;
}
.contenedorImagenesDoctores{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.doctor{
    width:230px;
    padding-top: 30px;
    justify-content: space-between;
    text-align: center;
}
#imagenDoctor{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 70%;
    border: 7px solid white;
}
.contenedorBotonNosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}
.contenedorBotonNosotros2{
    text-decoration:none;
    margin: 30px;
    color: white;
    font-weight:900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: transparent;
    transition: all 0.6s;
    padding: 10px 10px;
    border: 1px solid white;
    
}
#letrabotonNosotros{
    text-align: center;
    color:black;
    font-weight:900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contenedorBotonNosotros2:hover{
    background-color: rgb(39, 212, 243);
    box-shadow: 0 0 10px #189dbe, 0 0 40px #189dbe, 0 0 80px #189dbe;
}
/* Tratamientos */
.tituloTratamientos{
    padding: 20px;
    font-size: 60px;
    text-align: center;
    letter-spacing: 2px;
    color:#189dbe;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}

/* Div1 */
.tratamientos1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.t1{
   width: 250px;
   padding-bottom: 20px;
   text-align: center; 
   box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
   background: beige;
   margin: 20px 20px;
   border-radius: 0 0 20% 20%;
}
#imagent1{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 0 0 40% 40%;
}
/* Div2 */
.tratamientos2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 70px;
}
.t2{
    width: 250px;
    padding-bottom: 20px;
    text-align: center; 
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    background: beige;
    margin: 20px 20px;
    border-radius: 0 0 20% 20%;
 }
#imagent2{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 0 0 40% 40%;
}
.parrafosTratamientos{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    color: black;
    text-align:justify;
}
.tituloTratamientos1{
    letter-spacing: 4px;
}
.botonTratamientos{
    text-decoration:none;
    color: white;
    font-weight:900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:#6ec3d8;
    transition: all 0.6s;
    padding: 10px 10px;
    border: 1px solid white;
}
#letrabotonTratamientos{
    text-align: center;
    color:black;
    font-weight:900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botonTratamientos:hover{
    background-color: rgb(39, 212, 243);
    box-shadow: 0 0 10px #189dbe, 0 0 10px #189dbe, 0 0 10px #189dbe;
}
/* Apartado de clinica */
.Clinica{
    width: 100%;
    height:min-content;
    display:flex;
    background-color: rgb(39, 212, 243);
    /* background-color:black; */
    flex-wrap: wrap;
    /* margin-bottom: 30px; */
}
.contenedor1Clinica{
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tituloClinica{
    padding-top: 140px;
    padding-left: 40px;
    font-size: 35px;
    text-align: start;
    letter-spacing: 1px;
    color:rgb(0, 0, 0);
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
.letraClinica{
    padding-left: 40px;
    text-align: start;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    padding-top:20px;
    font-size: 20px;
    padding-bottom: 20px;
}
.botonClinica1{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.botonClinica2{
    padding-left: 30px;
    text-decoration:none;
    color: rgb(0, 0, 0);
    font-weight:900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:transparent;
    transition: all 0.6s;
    padding: 10px 100px;
    border: 1px solid white;
    box-shadow: 0 0 40px 40px var(--color--#858585)inset;

}
#letrabotonClinica{
    text-align: center;
    color:rgb(0, 0, 0);
    font-weight:900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botonClinica2:hover{
    box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
}
.contenedor2Clinica{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding-left: 50px;
    padding-bottom: 50px;
}

#imagenClinica{
    height:300px;
    width: 300px;
    margin-top: 100px;
    object-fit:cover; 
    border-radius: 10%;
    border: 2px solid white;
}
/* footer */
/* .footer{
    position: relative;
    margin: 0;
    width: 100%;  
    height: auto;
    padding: 50px 100px;
    background:rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contenedorFooter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.nosotrosFooter{
    margin-right: 30px;
    width: 40%;
}
.tituloInfo{
    position: relative;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.tituloInfo:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background:#189dbe;
}
.parrafoInfo{
    font-family: 'Courier New', Courier, monospace;
    color:#afafaf;
    text-align: start;
} 
.listaRedes{
    margin-top: 20px;
    display: flex;
}
.listaRl{
    list-style: none;
}
#R1{
    color: white;
    font-size: 15px;
}
.listaR{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    background-color:#000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.listaR:hover{
    background:#189dbe;
    height: 35px;
    width: 35px;
}

.tituloDire{
    position: relative;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contactoFooter{
    margin-right: 30px;
    width: 40%;
}
.tituloDire:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background:#189dbe;
}
.direccion{
    position: relative;
}
.listaContact{
    display: flex;
    margin-bottom: 16px;
}
.infoCon{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 15px;
    margin-right: 10px;
}  */
/* ContenedorUltimo */
.contenedorDerechos{
    text-align: center;
    color: #ffffff;
    padding: 10px;
    background: #0a0a0a;

}
.letraDerechos{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}
@media (max-width: 991px) {
    .footer
    {
        padding: 40px;
    }
    .contenedorFooter
    {
       flex-direction: column; 
    }
    .nosotrosFooter
    {
        margin-right: 0;
        margin-bottom: 40px;
        width: 100%;
    }
    .contactoFooter{
        margin-right: 0;
        margin-bottom: 40px;
        width: 100%;
    }
    .contenedorDerechos{
        padding: 15px;
    }
}
/* Responsive */
@media(max-width:764px){
    .contenedor2Clinica{
        justify-content: start;
        margin: 0 ;
    }
}
@media(max-width:912px){
    .contenedor1Clinica{
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .letraClinica{
        text-align: center;
    }
    .contenedor2Clinica{
        justify-content: center;
        align-items: center;
        margin: 0 ;
    }
    
}
@media(max-width:540px){
    .contenedor1Clinica{
        justify-content: center;
        align-items: center;
        text-align: start;
        
    }
    .letraClinica{
        text-align: start;
    }
    .contenedor2Clinica{
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:820px){
    .contenedor2Clinica{
        justify-content: start;
        margin: 0 ;
    }
}
